body{
  background-color: #111111;
}

h1{
  color: #E2E80F;
  text-align: center;
  font-size: 30px;
}

p {
  color: #eeeeee;
  font-size: 15px;
  line-height: 130%;
}

.credits{
  color: #49DAFF;
  font-size: 14px;
  text-decoration: underline;
}

#film-description{
  font-size: 10px;
  font-style: italic;
}