#largePink {
    background-color: #F5C6D6;
    height: 140px;
    width: 90%;
    margin-top: 100px;
}

.smallRed {
    background-color: #EE2E84;
    height: 140px;
    width: 21.8%;
    margin: 4px;
    display: inline-block;
    margin-top: 10px
}

.midBlue {
    background-color: #85CFD8;
    height: 140px;
    width: 44.5%;
    margin: 4px;
    display: inline-block;
    margin-top: 5px
}

#twoThirdBlue {
    background-color: #8DC63F;
    height: 140px;
    width: 67.5%;
    margin: 4px;
    display: inline-block;
    margin-top: 5px;
}

#oneThirdTan {
    background-color: #E76E34;
    height: 140px;
    width: 21.6%;
    margin: 4px;
    display: inline-block;
    margin-top: 5px;
}
