/*copied, modified and improved from colorGrid. Used borders instead of margins*/

* {
    box-sizing: border-box;
    font-size: 0px;
}

#largePink {
    background-color: #F5C6D6;
    height: 140px;
    width: 90%;
    border: 5px white solid;
    margin-top: 100px;
}

.smallRed {
    background-color: #EE2E84;
    height: 140px;
    width: 22.5%;
    border: 5px white solid;
    display: inline-block;
}

.midBlue {
    background-color: #85CFD8;
    height: 140px;
    width: 45%;
    border: 5px white solid;
    display: inline-block;
}
#twoThirdBlue {
    background-color: #8DC63F;
    height: 140px;
    width: 68%;
    border: 5px white solid;
    display: inline-block;
}
#oneThirdTan {
    background-color: #E76E34;
    height: 140px;
    width: 22%;
    border: 5px white solid;
    display: inline-block;
}

@media (max-width: 768px) {
    #largePink {
        height: 50px;
        border: 1px white solid;
        width: 100%;
    }
    
    .smallRed {
        height: 50px;
        border: 1px white solid;
        width: 100%;
    }
    
    .midBlue {
        height: 50px;
        border: 1px white solid;
        width: 100%;
    }
    
    #twoThirdBlue {
        height: 50px;
        border: 1px white solid;
        width: 100%;
    }
    
    #oneThirdTan {
        height: 50px;
        border: 1px white solid;
        width: 100%;
    }
}
