/* The navigation bar */
.frozen {
    position: fixed;  /* Set the navbar to fixed position */
    top: 0;  /* Position the navbar at the top of the page */
    width: 100%;  /* Full width */
    background-color: darkgoldenrod;
    height: 60px;
    text-align: center
}

.menu {
    padding: 20px 30px;
}

/* anchor formating*/
a {
    color: #67d2c3;
    text-align: center;
    margin-right: 130px;
}

/* each blog title formating */
.title {
    margin: 0px;
}

.pic {
    margin-right: 5px;
}

/* Main content */
.main {
    margin-top: 70px;  /* Add a top margin to avoid content overlay */
    text-align: justify;
    width: 30%;
    display: inline-block;
    margin-left: 35%;}
