/*copied, modified and improved from colorGrid. Used borders instead of margins*/

/*
* {
    box-sizing: border-box;
    font-size: 0px;
}
*/

.largePink {
    background-color: #F5C6D6;
    height: 150px;
    margin-top: 100px;
    border: 9px solid white;
}

.smallRed {
    background-color: #EE2E84;
    height: 150px;
    border: 9px solid white;
}

.midBlue {
    background-color: #85CFD8;
    height: 150px;
    border: 9px solid white;
}

.twoThirdBlue {
    background-color: #8DC63F;
    height: 150px;
    border: 9px solid white;
}

.oneThirdTan {
    background-color: #E76E34;
    height: 150px;
    border: 9px solid white;
}

@media (max-width: 768px) {
    #largePink {
        height: 50px;
        border: 1px white solid;
    }
    .smallRed {
        height: 50px;
        border: 1px white solid;
    }
    .midBlue {
        height: 50px;
        border: 1px white solid;
    }
    #twoThirdBlue {
        height: 50px;
        border: 1px white solid;
    }
    #oneThirdTan {
        height: 50px;
        border: 1px white solid;
    }
}
