* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
    text-decoration: blue;
}

.header-wrapper {
background-color: pink;
color: purple;
height: 100px;
padding: 30px;
}

.header-title {
    text-align: center;
}
.navbar-item {
    display: inline;
    margin: 10px;
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 20px;
}

a {
    font-size: 20px;
}

.img-wrapper {
    width: 60%;
    border-color: white solid 10px;
}

.foot-wrapper {
    height: 15px;
    padding: 0px;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.52);
}